<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Employee</title>
  </head>
  <body>
    <form #formData [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <h2>Edit Employee</h2>
      <div>
        <label for="Name">Employee Name:</label>
        <input type="text" id="name" formControlName="name" />
        <div *ngIf="employeeForm.get('name')?.hasError('required') && employeeForm.get('name')?.touched">
          <span class="error-message">*Name is required.</span>
        </div>
        <div *ngIf="employeeForm.get('name')?.hasError('pattern') && employeeForm.get('name')?.touched">
          <span class="error-message">*Only Alphabets are Allowed</span>
        </div>
        <div *ngIf="employeeForm.get('name')?.hasError('minlength') && employeeForm.get('name')?.touched">
          <span class="error-message">*Minimum length is 3</span>
        </div>
      </div>

      <div>
        <label for="location">Location:</label>
        <select formControlName="location" id="location">
          <option value="Bangalore">Bangalore</option>
          <option value="Chennai">Chennai</option>
          <option value="Pune">Pune</option>
          <option value="Hyderabad">Hyderabad</option>
        </select>
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
        <div *ngIf="employeeForm.get('email')?.hasError('required') && employeeForm.get('email')?.touched">
          <span class="error-message">*Email is required.</span>
        </div>
        <div *ngIf="employeeForm.get('email')?.hasError('email') && employeeForm.get('email')?.touched">
          <span class="error-message">*Please enter a valid email address.</span>
        </div>
      </div>

      <div>
        <label for="mobile">Mobile:</label>
        <input type="text" id="mobile" formControlName="mobile" />
        <div *ngIf="employeeForm.get('mobile')?.hasError('required') && employeeForm.get('mobile')?.touched">
          <span class="error-message">*Mobile number is required.</span>
        </div>
        <div *ngIf="employeeForm.get('mobile')?.hasError('pattern') && employeeForm.get('mobile')?.touched">
          <span class="error-message">*Please enter a valid 10-digit mobile number.</span>
        </div>
      </div>

      <div>
        <button type="submit" id="update" [disabled]="employeeForm.invalid">
          Edit Employee
        </button>
      </div>
    </form>
  </body>
</html>
